.App {
  text-align: center;
}

.App-logo {
  position: relative;
  animation: App-logo-spin infinite 20s linear;
  height: 1.5em;
}

.App-header {
  background-color: #222;
  height: 5em;
  padding: 10px; 
  color: white;
}

.App-title {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
}


main{
  margin: 10px 0px 100px 0px;

}
.auth{
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: flex-end;

}
